<div class="tab-content" id="myTabContent">
  <div class="tab-pane show active" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
    <ul class="list-unstyled uxf-line-separated">
      <li>
        <h5><a href="#">Add, Modify and Delete Org Roles</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description #</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Add, Modify and Delete Course Information</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description #</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Assign course code to Org Role</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description #</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Assign Site Team Member</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description #</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Assign SME to Module</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description #</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Add Non local Users</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description #</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Assign Users to Org Roles</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description #</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Assign Course Code to Employee - Add/Drop</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description #</dt>
          <dd>

          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>