
<div class="tab-content" id="myTabContent">
  <div class="tab-pane show active" id="mgtcurriculum" role="tabpanel" aria-labelledby="report-tab">
    <ul class="list-unstyled uxf-line-separated">
      <li>
        <h5><a href="#">Add or Modify Org Roles</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Add or Modify Course Information</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description</dt>
          <dd>

          </dd>
        </dl>
      </li>
      <li>
        <h5><a href="#">Assign Course Code to Org Role</a></h5>
        <dl class="uxf-dl-horizontal">
          <dt>Description</dt>
          <dd>

          </dd>
        </dl>
      </li>
    </ul>
  </div>
</div>