
  

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="adminsecurity" role="tabpanel" aria-labelledby="report-tab">
      <ul class="list-unstyled uxf-line-separated">
        <li>
          <h5><a href="#">Upload HR Report</a></h5>
          <dl class="uxf-dl-horizontal">
            <dt>Description</dt>
            <dd>
  
            </dd>
          </dl>
        </li>
        <li>
          <h5><a href="#">Create Unit</a></h5>
          <dl class="uxf-dl-horizontal">
            <dt>Description</dt>
            <dd>
  
            </dd>
          </dl>
        </li>
        <li>
          <h5><a href="#">Security for AD Groups</a></h5>
          <dl class="uxf-dl-horizontal">
            <dt>Description</dt>
            <dd>
  
            </dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>