<app-header></app-header>
<div class="container">
    <div *ngIf="getName">
        <router-outlet (activate)='onActivate($event)'
        (deactivate)='onDeactivate($event)'></router-outlet>
        <div class="loading row" id="loadingDiv" [hidden]="showHomeScreen" style="text-align: center; margin-top: 15px; height: 100%;">
            <div class="jumbotron col-sm-16 offset-sm-1" id="message">
                <h2 style="color: #367c2b;"><b>Welcome to Global IT Training Management Application!</b></h2><br>
                <div style="background-color: rgba(245, 245, 245, 0); border-radius:4px">
                    <h6>
                        <p>The Global IT Training Management application (TMA) page is a collaborative site that
                            features SAP/PDM/MPM curriculam.
                            <br>
                            This application allows our employees to effectively manage
                            their training curriculams in support of our IT systems.</p>
                    </h6>
                </div>
            </div>
            <div id="links" class="jumbotron col-sm-5 offset-sm-1">
                <h3 style="padding: 0;">Popular Links</h3>
                <ul>
                    <li><a href="#">Process Map/Selection</a></li>
                    <li><a href="#">Roles</a></li>
                    <li><a href="#">Training DB</a></li>
                    <li><a href="#">View All Users</a></li>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="!getName">
        <div class="row" style="text-align: center; margin-top: 15px">
            <div class=" jumbotron col-sm-16 offset-sm-1" id="message">
                <h2 style="color: #367c2b"><b>Welcome to Global IT Training Management Application!</b></h2><br>
                <div style="background-color: rgba(245, 245, 245, 0); border-radius:4px">
                    <h6>
                        <p>The Global IT Training Management application (TMA) page is a collaborative site that
                            features SAP/PDM/MPM curriculam.
                            <br>
                            This application allows our employees to effectively manage
                            their training curriculams in support of our IT systems.</p>
                    </h6>
                </div>
            </div>
            <div id="links" class="jumbotron col-sm-5 offset-sm-1">
                <h3>Popular Links</h3>
                <ul>
                    <li><a href="#">Process Map/Selection</a></li>
                    <li><a href="#">Roles</a></li>
                    <li><a href="#">Training DB</a></li>
                    <li><a href="#">View All Users</a></li>
                    <li><a href="#">Reports</a></li>
                </ul>
            </div>
            <div class="jumbotron offset-sm-1 col-sm-22" id="login">
                <h4><i>You are not logged in. Please login to continue.</i></h4>
                <br><br>
                <button type="button" class="btn btn-success" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>